body{
    font-family: sans-serif;
   
}
.logo-img{
    border: 1px solid #F5E21C;
    border-top: 0cm;
    /* border-bottom: 0; */
}

h1{
    background-color: #1B365C;
    display: flex;
    justify-content: center;
    border-bottom:1px solid #1B365C;

  
}
.navbar-brand{
    /* border: 1px solid black; */
    padding: 5px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #7EA1C4;
}
.navbar{
    background-color: #1B365C;
    border: 1px solid black;
}
.navbar-toggler{
    background-color: #7EA1C4 !important;
}

.nav-link{
    color: #7EA1C4  !important;

}
.nav-link:hover{
    color: black !important;
}

.about-brif{
    background-color: lig;
}

.card{
    margin: 12px;
}






.bi:hover{
    fill: blue;
    
}
